.admin_page {
  width: 100%;
  height: 100vh;
}

.admin_navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(48, 48, 48);
  border-radius: 2px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.navcontent {
  display: flex;
  gap: 30px;
  margin-left: 35%;
  align-items: center;
}

.admin_navbar .mainlogo {
  font-size: 50px;
  color: white;
}
.admin_navbar .mainlogo:hover {
  cursor: pointer;
  color: grey;
}

.admin_navbar span {
  font-size: 10px;
  color: rgb(48, 48, 48);
}

.admin_navbar h1 {
  color: white;
}

.admin_navbar .logoutbtn {
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 30px;
  background-color: rgb(165, 165, 165);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.admin_navbar .logoutbtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.admin_page .memberlistdiv {
  background-color: rgb(176, 176, 176);
  width: 60%;
  height: fit-content;
  /* max-height: 70vh; */
  margin-top: 50px;
  margin-left: 20%;
  padding: 20px 40px;
  border-radius: 5px;
}
