.memberlist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  margin-bottom: 15px;
  background-color: rgb(237, 235, 235);
  padding: 0px 8px;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ol li .mem_data {
  display: flex;
  gap: 70px;
  height: 70px;
  font-size: 15px;
}
